.filer
  width: 400px
  td
    max-width: 20px
    height: 20px
    border: 1px solid silver
    opacity: 0.6
    cursor: pointer
    font-size: .9em
    color: yellow
  td.red
    background-color: red
  td.green
    background-color: green
  td.blue
    background-color: blue
  td.player
    border-color: black
    opacity: 1

  td.over
    opacity: 1
